.banner {
  padding: 160px 0;
  background-size: cover;
  background-position: center;
}

.banner p {
  color:#2c2b2b;
  margin-bottom: 24px;
  opacity: .7;
}

.banner h1 {
  letter-spacing: 2px;
  font-size: xx-large;
  font-weight: bolder;
  color: #2c2b2b;
  opacity: 0.9;
  margin-bottom: 16px;
}
